* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: "Red Hat Display", sans-serif;
}

p {
    font-size: 1.70rem;
}

h1,
h2,
h3,
h4 {
    font-family: "Merriweather", serif;
    letter-spacing: 3px;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h5 {
    font-size: 2rem;
}

/*Customer colors*/
.text-red {
    color: #b53f1d;
}

.bg-red {
    background-color: #b53f1d;
}

.text-white {
    color: #e0dfd8;
}

.bg-white {
    background-color: #e0dfd8;
}

.text-light-blue {
    color: #3c3f58;
}

.bg-light-blue {
    background-color: #3c3f58;
}

.text-purple {
    color: #352c44;
}

.bg-purple {
    background-color: #352c44;
}

.text-blue {
    color: #4c4874
}

.bg-blue {
    background-color: #4c4874
}

.text-black {
    color: #000000;
}

.bg-black {
    background-color: #000000
}

a {}

.link-size {
    font-size: 1.70rem;
}

.card-image {
    align-items: center;
    width: 250px;
    height: 350px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.bg-blue:hover {
    background-color: rgb(121, 127, 180);
}